/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

main{ //css kodlarımızı görmüyordu o yüzden main içine aldık
    padding: 30px;

.page-title{
    font-style: 40px;
    color:#333;
}
.page-description{
    color: #777;
}
}